<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="registration.component.css">
<body>
    <header>
        <div class="left">
          <img src="../assets/2.png" alt="">
          <h4>Portfolio</h4>
        </div>
        <div class="right">
          <button>LogIn</button>
          <button>Register</button>
        </div>
      </header>
      <div class="container">
          <h3 class="activity">Log In</h3>
          <form action="" method="post">
              <div class="formgroup"><input type="text" name="name" id="" placeholder="Name"></div>
              <div class="formgroup"><input type="text" name="emailid" id="" placeholder="Email Id"></div>
              <div class="formgroup"><input type="text" name="userid" id="" placeholder="User Id"></div>
              <div class="formgroup"><input type="password" name="password" id="" placeholder="password"></div>
              <button type="submit">Log In</button>
          </form>
      </div>
</body>
</html>