.right
{
    position: absolute;
    right: 40px;
    top: 20px;
    display: inline-block;
    width: 20%;
}
.right button
{
    color:rgb(24, 24, 20);
    display: inline-block;
    font-size: 150%;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 15px;
    margin: auto;
    margin-left: 10%;
}
.left
{
    position: absolute;
    left: 40px;
    top: 20px;
    display: inline-block;
    width: 10%;
}
.left img
{
    margin-left: 12px;
    width:60px;
    height:60px;
}
.left h3
{
    
}
.container
{
    text-align: center;
    border: 2px solid black;
    margin-top: 20%;
    margin-left: 60%;
    border-radius: 20px;
    padding: 20px 32px;
    width: 30%;
    color: black;
    background-color: white;
    size: 30px;
    left: 140px;
    top: 50px;
}
.container activity
{
    text-align: center;
    font-size: 30px;
}
.formgroup input
{
    margin-top: 7%;
    border-radius: 10px;
    height: 200%;
    width: 80%;
}
.container button
{
    color:rgb(24, 24, 20);
    display: block;
    font-size: 150%;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
}